<!DOCTYPE >
<html lang="en">
    <%- include('../../layout/head') %>
 <body>
   <main>
    <h1>Welcome to Our Book App: Search results</h1>
    <p><a href="/">Home</a></p>
    <%- include('../../layout/book-layout') %>
 </body>
</html>