<!DOCTYPE >
<html lang="en">
    <%- include('../../layout/head') %>
 <body>
   <main>
    <h1>Welcome to Our Book App: Search results</h1>
    <p><a href="/">Home</a></p>
    <%- include('../../layout/book-layout') %>
    <button class="book-item" type="submit">Select this Book</button>
  
  
   <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
    <script src="/js/app.js"></script>
 </body>
</html>