<!DOCTYPE >
<html lang="en">
    <%- include('../../layout/head') %>
  <body>
    <main id="bookSearchSection">
      <h1>Book App: Search results</h1>
      <a href="/"><button>Home</button></a>
      <%# include('../../layout/book-layout') %>
      <% searchResults.forEach(book => { %>
        <section>
          <%- include('../books/detail', {book: book}) %>
          <button class="viewButton">Select this Book</button>
          <%- include('../books/edit', {book: book, formAction: 'Add'}) %>
        </section>
      <% }) %>
    </main>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
    <script src="/js/app.js"></script>
  </body>
</html>