<!DOCTYPE html>
<html lang="en">
    <%- include('../layout/head') %>
  <body>
    <main>
      <h1>You have encountered an error. Please try again.</h1>
      <p><a href="/">Home</a></p>
      <p><%= error %></p>
    </main>
  </body>
</html>