<!DOCTYPE >
<html lang="en">
 <head >
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <title>Book App</title>
   <meta name="description" content="View free books and add them to your list">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="/styles/base.css">
 </head>
 <body>
   <h1>Hello World</h1>
   <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore amet voluptas voluptate laborum rerum voluptates maxime, debitis, animi tempore cupiditate dolorem culpa excepturi. Libero iusto placeat quasi blanditiis quam ut.</p>
 </body>
</html>
