h1, span{
  font-size: 1.5em;
  font-weight: bold;
  color: black;
}

a{
  font-size: 1.5em;
  text-decoration: none;
}

li{
  margin-bottom: 3%;
  color: saddlebrown;
}

form{
  display: flex;
  flex-flow: column wrap;
  max-width: 100%;
}

form textarea{
  margin-bottom: 5%;
}

input{
  font-size: 30px;
  display: flex;
  flex-flow: column wrap;
  background-color: whitesmoke;
  margin-bottom: 5%;
}

select{
  font-size: 30px;
  background-color: whitesmoke;
  margin-bottom: 5%;

}

#bookSearch{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  background-color: blanchedalmond;
}

section{
  justify-content: center;
}

#bookSearchSection textarea{
  font-size: 20px;
}

button{
  font-size: 40px;
  background: whitesmoke;
  margin-bottom: 5%;
}

img{
  max-width: 20%;
}

.hide-me{
  display: none;
}

.showBook{
  min-width: 100%;
}

.fab{
  color: black;
}
