<section>
    <ul>
      <% searchResults.forEach(book => { %>
        <li class= "images"><img src= <%=book.image_url %></li>
        <li><span>Book:</span> <%= book.title %> </li>
        <li><span>Authors:</span> <%= book.authors %> </li>        
      <% }) %>
    </ul>
</section>